[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/catppuccin-zsh-syntax-highlighting"]
	path = zsh/catppuccin-zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule "config/nvim/pack/packer/start/packer.nvim"]
	path = config/nvim/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
